// Formula One

$main-background: #121212;
$sub-background: #161616;
// $navbar-background: #bb0707f2;
// $navbar-background: linear-gradient(to bottom, #9f0000, #c60500, #9f0000);
$navbar-background: linear-gradient(to bottom, #830707, #c60500, #830707);
$navbar-sub-background: #232323;
$headline-background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
$headline-border: #ffffff7d;

// Normal colors

$white: #fff;
$black: #000;

$red: #e10600;
$medium-red: #c60500;
$dark-red: #9f0000;

$light-grey: #d3d3d3;
$medium-grey: #c0c0c0;
$dark-grey: #a9a9a9;
$extra-dark-grey: #5f5555;

$green: #008000;

// Other

$card-shadow: rgba(0, 0, 0, 35%) 0px 3px 9px;
$card-border: rgba(0, 0, 0, 0.125);

// Team Colors

/* Real color: #e0610e !important; */
$mclaren: #f77018;
/* Real  color: #0600ef !important; Fake, alternative color: #2b26ff !important; */
$red-bull: #3b38da;
/* Real color: #00d2be !important; */
$mercedes: #03e8d3;
/* Real color: #900000 !important; */
$alpha-romeo: #ad0505;
/* Real color: #2b4562 !important; */
$alpha-tauri: #5a84b3;
$haas: #fff;
$alpine: #0090ff;
$ferrari: #dc0000;
$williams: #005aff;
/* Real color: #006f62 !important; */
$aston-martin: #00b19c;

// Function picks class
.medium-red {
  color: $medium-red;
}

.dark-grey {
  color: $dark-grey;
}

.green {
  color: $green !important;
}

.gold {
  color: #daa520 !important;
}

.silver {
  color: #9b9b9b !important;
}

.bronze {
  color: #8b4513 !important;
}

/* Driver and Team Colors */
.mclaren {
  color: $mclaren !important;
}

.mclaren-border {
  border-image: linear-gradient(to bottom, $mclaren, rgba(0, 0, 0, 0)) 1 100%;
}

.red-bull {
  color: $red-bull !important;
}

.red-bull-border {
  border-image: linear-gradient(to bottom, $red-bull, rgba(0, 0, 0, 0)) 1 100%;
}

.mercedes {
  color: $mercedes !important;
}

.mercedes-border {
  border-image: linear-gradient(to bottom, $mercedes, rgba(0, 0, 0, 0)) 1 100%;
}

.alpha-romeo {
  color: $alpha-romeo !important;
}

.alpha-romeo-border {
  border-image: linear-gradient(to bottom, $alpha-romeo, rgba(0, 0, 0, 0)) 1
    100%;
}

.alpha-tauri {
  color: $alpha-tauri !important;
}

.alpha-tauri-border {
  border-image: linear-gradient(to bottom, $alpha-tauri, rgba(0, 0, 0, 0)) 1
    100%;
}

.haas {
  color: $haas !important;
}

.haas-border {
  border-image: linear-gradient(to bottom, $haas, rgba(0, 0, 0, 0)) 1 100%;
}

.alpine {
  color: $alpine !important;
}

.alpine-border {
  border-image: linear-gradient(to bottom, $alpine, rgba(0, 0, 0, 0)) 1 100%;
}

.ferrari {
  color: $ferrari !important;
}

.ferrari-border {
  border-image: linear-gradient(to bottom, $ferrari, rgba(0, 0, 0, 0)) 1 100%;
}

.williams {
  color: $williams !important;
}

.williams-border {
  border-image: linear-gradient(to bottom, $williams, rgba(0, 0, 0, 0)) 1 100%;
}

.aston-martin {
  color: $aston-martin !important;
}

.aston-martin-border {
  border-image: linear-gradient(to bottom, $aston-martin, rgba(0, 0, 0, 0)) 1
    100%;
}

// Old Teams

.brawn {
  color: #dafd5c !important;
}

.lotus {
  color: #ffb800 !important;
}

.renault {
  color: #ffd800 !important;
}

.torro-rosso {
  color: #0032ff !important;
}

.sauber {
  color: #9b0000 !important;
}

.racing-point {
  color: #f596c8 !important;
}

.honda {
  color: #cc0000 !important;
}

.brabham {
  color: #d4af37 !important;
}

/* 
.brabham {
	color: #0C2f48 !important;
}

.brm {
	color: #004225 !important;
}

.vanwall {
	color: #004225 !important;
}

.reg-parnell {
	color: #3268aa;
} */
