// Navlink
.nav-link-top {
	@include breakpoint(x-small) {
		font-size: 0.9em;
	}
	@include breakpoint(medium) {
		font-size: 1em;
	}
	@include breakpoint(large) {
		font-size: 1.1em;
	}
}

.nav-link {
	color: #fff !important;
	padding: 0;
	margin: 0 0.5em;
	font-family: $orbitron;
	text-shadow: 2px 2px $black;
}

.nav-link.active {
	@include breakpoint(x-small) {
		font-size: 0.9em;
	}
	@include breakpoint(medium) {
		font-size: 1em;
	}
	@include breakpoint(large) {
		font-size: 1.1em;
	}
	@include breakpoint(x-large) {
		font-size: 1.3em;
	}
	@include breakpoint(xx-large) {
		font-size: 1.4em;
	}
}

// Nav Tabs

.nav-tabs .nav-link {
	border: none;
	background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
	border-radius: 8px;
	border: #ffffff7d 2px solid;
	display: inline;
	padding: 0 0.3em 0.3em 0.3em;
}

.nav-tabs {
	border: none;
}

// Navlink Sub
.nav-link-sub {
	@include breakpoint(x-small) {
		font-size: 0.65em;
	}
	@include breakpoint(small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.8em;
	}
	@include breakpoint(large) {
		font-size: 0.9em;
	}
	@include breakpoint(x-large) {
		font-size: 1em;
	}
}

// Router link
.router-link-active {
	background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
	border-radius: 8px;
	border: #ffffff7d 2px solid;
	padding: 0 0.3em !important;

	@include breakpoint(x-small) {
		padding: 0 0.3em !important;
	}
}

// Table link

.table-link-name:hover {
	// text-shadow: 2px 2px 6px #000;
	// text-shadow: 1px 3px 0 #000, 1px 13px 5px #000;

	// color: #fff;
	// background: #121212;
	// text-shadow: 2px 2px 0px #161616, 5px 4px 0px rgba(0, 0, 0, 0.15);

	// text-shadow: 0 1px 0 #161616, 0 2px 0 #161616, 0 3px 0 #121212,
	// 	0 4px 0 #121212, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
	// 	0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
	// 	0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
	// 	0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

	// text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
	// 	0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
	// 	0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
	// 	0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
	// 	0 22px 30px rgba(0, 0, 0, 0.9);

	// text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
	// 	9px -2px 19px rgba(0, 0, 0, 0);
	// text-shadow: -5px 10px 0 #000;
}

.table-link-name {
	color: $white;
	position: relative;
	text-decoration: none;
	transition: all 0.15s ease-out;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0px;
		left: 0;
		background: $white;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover {
		transition: all 0.15s ease-out;
		color: $white;
		&:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}

.table-link-name-two {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #fff;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #fff;
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 0.5s;
	}

	&:hover {
		color: #fff;

		&:after {
			transform-origin: bottom left;
			transform: scaleX(1);
		}
	}
}
