.leader-constructor-div {
	@include breakpoint(x-small) {
		margin: 0 0 1em 0;
	}
	@include breakpoint(medium) {
		margin: 0 0 2em 0;
	}
}

.leader-constructor-img {
	@include breakpoint(x-small) {
		height: 1.8em;
	}
	@include breakpoint(medium) {
		height: 3em;
	}
	@include breakpoint(large) {
		height: 4em;
	}
	@include breakpoint(x-large) {
		height: 4.5em;
	}
	@include breakpoint(xx-large) {
		height: 5em;
	}
}

.leader-constructor-flag-img {
	// border: 0.1px solid #ce0d0d;
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
	margin: 0.2em 0;

	@include breakpoint(x-small) {
		height: 1em;
		width: 1.7em;
	}
	@include breakpoint(medium) {
		height: 1.2em;
		width: 1.9em;
	}
	@include breakpoint(large) {
		height: 1.4em;
		width: 2.1em;
	}
	@include breakpoint(x-large) {
		height: 1.6em;
		width: 2.3em;
	}
	@include breakpoint(xx-large) {
		height: 1.8em;
		width: 2.5em;
	}
}

.leaders-constructor-info {
	background: $navbar-background;
	border-radius: 0 0 15px 15px;
	padding: 0.2em;

	@include breakpoint(x-small) {
		border-top: 2px solid $white;
	}
	@include breakpoint(medium) {
		border-top: 3px solid $white;
		width: 8em;
		margin-left: 2em;
	}
	@include breakpoint(large) {
		border-top: 4px solid $white;
		width: 9em;
		margin-left: 2em;
	}
	@include breakpoint(x-large) {
		width: 10em;
		margin-left: 2em;
	}
	@include breakpoint(xx-large) {
		width: 13em;
		margin-left: 2em;
	}
}

.leader-constructor-points {
	-webkit-text-stroke-color: $black;
	margin: 0.1em;
	text-shadow: 2px 2px #000;

	@include breakpoint(x-small) {
		font-size: 0.8em;
		-webkit-text-stroke-width: 0.7px;
	}
	@include breakpoint(medium) {
		font-size: 0.9em;
		-webkit-text-stroke-width: 0.7px;
	}
	@include breakpoint(large) {
		font-size: 1.1em;
	}
	@include breakpoint(x-large) {
		font-size: 1.2em;
		-webkit-text-stroke-width: 0.9px;
	}
	@include breakpoint(xx-large) {
		// font-size: 1.3em;
		// -webkit-text-stroke-width: 1.2px;
	}
}

.leader-constructor-name-team {
	// background-color: $black;
	background: linear-gradient(to bottom, #000000, #201f1e, #000);
	padding: 0.2em;
	border-radius: 0 15px;
	border: 1px solid $white;
	margin: 0.3em;

	@include breakpoint(x-small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.8em;
	}
	@include breakpoint(large) {
		font-size: 0.9em;
	}
	@include breakpoint(x-large) {
		font-size: 1em;
	}
	@include breakpoint(xx-large) {
		font-size: 1.1em;
	}
}

.constructor-table-headline {
	background: $headline-background;
	border-radius: 8px;
	border: $headline-border 2px solid;
	display: inline;
	padding: 0 0.3em 0.3em 0.3em;

	@include breakpoint(x-small) {
		font-size: 1.1em;
	}
	@include breakpoint(medium) {
		font-size: 1.3em;
	}
	@include breakpoint(large) {
		font-size: 1.5em;
	}
	@include breakpoint(x-large) {
		font-size: 1.7em;
	}
	@include breakpoint(xx-large) {
		font-size: 1.9em;
	}
}

.constructor-table-tr {
	@include breakpoint(x-small) {
		font-size: 0.8em;
	}
	@include breakpoint(medium) {
		font-size: 0.9em;
	}
	@include breakpoint(large) {
		font-size: 0.95em;
	}
	@include breakpoint(x-large) {
		font-size: 1em;
	}
}

.constructor-table-tbody {
	@include breakpoint(x-small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.8em;
	}
	@include breakpoint(large) {
		font-size: 0.9em;
	}
	@include breakpoint(x-large) {
		font-size: 0.95em;
	}
}

.constructor-table-td {
	@include breakpoint(x-small) {
		padding: 1em 0.3em;
	}
	@include breakpoint(large) {
		padding: 1em 1.5em;
	}
}

.constructor-table-flag-img {
	@include breakpoint(x-small) {
		height: 1em;
		width: 1.6em;
	}
	@include breakpoint(medium) {
		height: 1.2em;
		width: 1.8em;
	}
	@include breakpoint(large) {
		height: 1.1em;
		width: 1.7em;
	}
	@include breakpoint(x-large) {
		height: 1.2em;
		width: 2em;
	}
}

.constructor-table-headline-div {
	margin: 0.5em 0 2em;
}

.leader-constructor-div {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.leader-constructor-div > .first {
	order: 2;
}
.leader-constructor-div > .second {
	order: 1;
}
.leader-constructor-div > .third {
	order: 3;
}

.second {
	margin: 2em 0.5em 0 0.5em !important;
}

.third {
	margin: 3em 0.5em 0 0.5em !important;
}

.leader-div {
	flex: 1;
	margin: 0 0.5em;
}

.constructor-table-position {
	color: $extra-dark-grey;
}
