.next-race-circuit-info-card-margin {
	@include breakpoint(x-small) {
		margin: 1.2em 0.5em;
	}
	@include breakpoint(medium) {
		margin: 1.2em 0.2em;
	}
	@include breakpoint(large) {
		margin: 1.2em 0.5em;
	}
	@include breakpoint(x-large) {
		margin: 1.2em 0 0 1em;
	}
}

.next-race-circuit-info-name {
	@include breakpoint(x-small) {
		font-size: 1em;
	}
	@include breakpoint(medium) {
		font-size: 1.1em;
	}
	@include breakpoint(large) {
		font-size: 1.2em;
	}
	@include breakpoint(x-large) {
		font-size: 1.3em;
	}
}

.next-race-circuit-info-location {
	color: $extra-dark-grey;

	@include breakpoint(x-small) {
		font-size: 0.9em;
	}
	@include breakpoint(medium) {
		font-size: 1em;
	}
	@include breakpoint(large) {
		font-size: 1.1em;
	}
	@include breakpoint(x-large) {
		font-size: 1.2em;
	}
}

.next-race-circuit-info-circuit-img {
	@include breakpoint(x-small) {
		margin: 1em 0;
		max-width: 100%;
		max-height: 100%;
	}
	@include breakpoint(xx-large) {
		height: 16.4em;
	}
}

.next-race-circuit-info-th {
	text-align: initial;
	padding: 0.5em 0 0 0.5em;

	@include breakpoint(x-small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.75em;
	}
	@include breakpoint(large) {
		font-size: 0.8em;
	}
	@include breakpoint(x-large) {
		font-size: 0.85em;
	}
}

.next-race-circuit-info-td {
	text-align: end;
	padding: 0.5em 0.5em 0;

	@include breakpoint(x-small) {
		font-size: 0.8em;
	}
	@include breakpoint(medium) {
		font-size: 0.85em;
	}
	@include breakpoint(large) {
		font-size: 0.9em;
	}
}
