.nav-tabs .nav-link {
	@include breakpoint(x-small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.8em;
	}
	@include breakpoint(large) {
		font-size: 0.9em;
	}
	@include breakpoint(x-large) {
		font-size: 1.1em;
	}
	@include breakpoint(xx-large) {
		font-size: 1.2em;
	}
}

.practice-session-tr {
	@include breakpoint(x-small) {
		font-size: 0.8em;
	}
	@include breakpoint(medium) {
		font-size: 0.9em;
	}
	@include breakpoint(large) {
		font-size: 0.95em;
	}
	@include breakpoint(x-large) {
		font-size: 1em;
	}
	@include breakpoint(xx-large) {
		font-size: 1em;
	}
}

.practice-session-tbody {
	@include breakpoint(x-small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.8em;
	}
	@include breakpoint(large) {
		font-size: 0.9em;
	}
	@include breakpoint(x-large) {
		font-size: 0.95em;
	}
}

.practice-session-td {
	@include breakpoint(x-small) {
		padding: 1em 0.3em;
	}
	@include breakpoint(medium) {
		padding: 1em 1.3em;
	}
	@include breakpoint(large) {
		padding: 1em 2em;
	}
	@include breakpoint(x-large) {
		padding: 1em 2.5em;
	}
	@include breakpoint(xx-large) {
		padding: 1em 3em;
	}
}

.practice-session-seconds {
	@include breakpoint(x-small) {
		font-size: 0.7em;
	}
	@include breakpoint(medium) {
		font-size: 0.8em;
	}
	@include breakpoint(large) {
		font-size: 0.7em;
	}
	@include breakpoint(x-large) {
		font-size: 0.9em;
	}
}

.practice-session-border-left {
	border-left: 1px solid $white;
}

.noDataMessage {
	color: $white;
}

.practice-session-position {
	color: $extra-dark-grey;
}

.practice-session-laps {
	color: $extra-dark-grey;
}
