.default-background-center {
	background-color: #121212;
	text-align: center;
	overflow: auto;
}

.card {
	background-color: #161616;
	box-shadow: rgb(0 0 0 / 35%) 0px 3px 9px;
}

.view-container {
	padding: 0;
}

/* Font and size */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Orbitron', 'sans-serif';
	color: #fff;
}

html {
	font-size: 100%;
	background-color: #121212;
}

p {
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2rem;
}

h4 {
	font-size: 1.4rem;
}

/* NavBar */
.nav-link {
	color: #fff !important;
	padding: 0;
	font-family: 'Orbitron', 'sans-serif';
  text-shadow: 2px 2px #000;
}

.router-link-active {
	background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
	border-radius: 8px;
	border: #ffffff7d 2px solid;
}

/* Table */
th {
	font-family: 'Orbitron', 'sans-serif';
	color: #fff;
}

tr {
	border-bottom: 1px solid #fff;
}

td {
	font-family: 'Orbitron', 'sans-serif';
	color: #fff;
}

tbody {
	border-bottom: 1px solid #fff;
}

tbody:last-child {
  border: none;
}

tr:last-child {
  border: none;
}

.scroll-table {
	overflow: hidden;
	overflow-y: scroll;
}

/* Colors */
.red-text {
	color: #e10600 !important;
}

.darkgrey-text {
	/* color: #a9a9a9 !important; */
	color: #5f5555 !important;
}

.green-text {
	color: #008000 !important;
}

/* MEDIA START*/

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* X-Small devices (0px and up) */
@media (min-width: 0px) {

	.container { 
		max-width: 544px;
	}

	/*------------------------ NAVBARS ------------------------*/
	/* Navbar */
	.navbar {
		padding: 0;
	}

	.navbar-toggler {
		display: none;
	}

	.nav-link {
		margin: 0 0.5em;
	}

	.nav-link-sub {
		font-size: 0.7em;
	}

	.navbar-sub {
		background-color: #232323;
    padding: 2px 0;
    margin-bottom: 1em;
		justify-content: space-evenly;
	}

	.navbar-nav-sub {
		flex-direction: row;
	}

	.router-link-active  {
    padding: 0 0.3em !important;
	}
	
	/* Navbar Top */
	.nav-title-top {
		font-size: 1.7rem;
		padding: 0;
	}

	.nav-logo-top {
		height: 2em;
	}

	.nav-link-top {
		font-size: 0.9em;
	}

	.navbar-top {
		justify-content: center;
	}

	/*------------------------ FOOTER ------------------------*/
	.footer-nav {
		display: block;
	}

	footer {
		display: none;
	}

	/*------------------------ CARD ------------------------*/
	.card-body {
		padding: 0.5em 0.5em;
	}

	/*------------------------ GENERAL ------------------------*/
	.no-display-when-mobile  {
		display: none;
	}

	.browser-view {
		display: none;
	}
	
	.scroll-table {
		height: 500px;
	}

	.card-margin {
    margin: 1em 0 4em
	}

	/*------------------------ UPCOMING RACE ------------------------*/
	/* ResultLastRace */
	.result-last-race-headline {
		background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
		border-radius: 8px;
		border: #ffffff7d 2px solid;
		display: inline;
    padding: 0 0.3em 0.3em 0.3em;
		font-size: 1.1em;
	}

	.result-last-race-tr {
		font-size: 0.8em;
	}

	.result-last-race-tbody {
		font-size: 0.7em;
	}

	.result-last-race-td { 
    padding: 1em 0.3em;
	}

	.position-difference {
		font-size: 0.7em;
		padding-left: 0.3em;
	}

	/* NextRace  - View */
	.next-race-headline {
		background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
		border-radius: 8px;
		border: #ffffff7d 2px solid;
    padding: 0 0.3em 0.3em 0.3em;
		display: -webkit-inline-box;
		margin-top: 0.5em;
		font-size: 1.4em;
	}

	/* NextRaceTrackInfo */
	.next-race-track-info-th {
		font-size: 0.5em;
	}

	.next-race-track-info-td {
		font-size: 0.6em;
		color: #e10600;
		-webkit-text-stroke-width: 0.4px;
		-webkit-text-stroke-color: #4a0101;
	}

	.next-race-track-info-circuit-img {
		height: 10em;
		margin-bottom: 2em;
	}

	/* QualificationSession */
	.qualification-session-headline {
		background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
		border-radius: 8px;
		border: #ffffff7d 2px solid;
		display: inline;
    padding: 0 0.3em 0.3em 0.3em;
		font-size: 1.1em;
	}

	.qualifying-session-tr {
		font-size: 0.8em;
	}

	.qualifying-session-tbody {
		font-size: 0.7em;
	}
	
	.qualification-session-td {
		padding: 1em 0.3em;
	}

	.elimination-line {
		border-bottom: 2px solid #fff;
	}

	/*------------------------ STANDINGS ------------------------*/
	/* DriverTable */
	.leader-driver-div {
    margin: 0 0 1em 0;
  }

	.leader-driver-img {
		height: 5em;
		position: relative;
		top: 0;
		left: 0;
	}

	.leader-driver-info {
		background-color: #e10600;
		border-top: 2px solid #fff;
		border-radius: 0 0 15px 15px;
		padding: 0.2em;
	}

	.leader-driver-flag-img {
		height: 0.6em;
		width: 1.2em;
	}

	.leader-driver-points {
		font-size: 0.8em;
		-webkit-text-stroke-width: 0.7px;
		-webkit-text-stroke-color: #000;
		margin: 0.3em;
	}

	.leader-driver-name-team {
		background-color: #000;
		padding: 0.1em;
		border-radius: 0 15px;
		border: 1px solid #fff;
		font-size: 0.7em;
		margin: 0.3em;
	}

	.leader-driver-name {
		word-spacing: 9999px;
	}

	.driver-table-headline {
		background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
		border-radius: 8px;
		border: #ffffff7d 2px solid;
		display: inline;
    padding: 0 0.3em 0.3em 0.3em;
		font-size: 1.1em;
	}

	.driver-table-tr {
		font-size: 0.8em;
	}

	.driver-table-tbody {
		font-size: 0.7em;
	}

	.driver-table-td {
		padding: 1em 0.3em;
	}

	.driver-table-flag-img {
		height: 1em;
    width: 1.6em;
  }

	/* ConstructorTable */
	.leader-constructor-div {
		margin: 0 0 1em 0;
	}

	.leader-constructor-img {
		height: 1.8em;
	}

	.leaders-constructor-info {
		background-color: #e10600;
		border-top: 2px solid #fff;
		border-radius: 0 0 15px 15px;
		padding: 0.2em;
	}

	.leader-constructor-flag-img {
		height: 1em;
    width: 1.7em;
		border: 0.1px solid #ce0d0d;
    margin: 0.2em 0;
	}

	.leader-constructor-points {
		font-size: 0.8em;
		-webkit-text-stroke-width: 0.7px;
		-webkit-text-stroke-color: #000;
		margin: 0.1em;
	}

	.leader-constructor-name-team {
		background-color: #000;
		padding: 0.2em;
		border-radius: 0 15px;
		/* -webkit-text-stroke-width: 0.9px;
		-webkit-text-stroke-color: black; */
		border: 1px solid #fff;
		font-size: 0.7em;
		margin: 0.3em;
	}

	.constructor-table-headline {
    background: linear-gradient(180deg, #3a3a3a 50%, #000 50%);
    border-radius: 8px;
    border: #ffffff7d 2px solid;
    display: inline;
    padding: 0 0.3em 0.3em 0.3em;
    font-size: 1.1em;
  }

	.constructor-table-tr {
		font-size: 0.8em;
	}

	.constructor-table-tbody {
		font-size: 0.7em;
	}

	.constructor-table-td {
		padding: 1em 0.3em;
	}

	.constructor-table-flag-img {
		height: 2.8em;
    width: 2.3em;
	}
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

	.container { 
		max-width: 768px;
	}

	/*------------------------ NAVBARS ------------------------*/
	/* Navbar */
	.navbar-toggler {
    display: revert;
  }

	.nav-link-sub {
    font-size: 0.8em;
  }

	/* Navbar Top */
  .nav-title-top {
    font-size: 2rem;
  }
  .nav-logo-top {
    height: 2.3em;
  }

	.navbar-top {
		justify-content: start;
	}

	.navbar-nav-top {
    width: 30%;
  }

	.nav-collapse-top {
    text-align: -webkit-center;
  } 

  /*------------------------ FOOTER ------------------------*/
  .footer-nav {
    display: none !important;
  }

  footer {
    display: revert;
  }

  /*------------------------ MAP ------------------------*/
  .leaflet-touch 
  .leaflet-control-layers, 
  .leaflet-touch .leaflet-bar {
    margin-top: 4em !important;
  }

  /*------------------------ GENERAL ------------------------*/
	.no-display-when-mobile {
		display: revert;
	}

	.browser-view {
		display: revert;
	}

	.mobile-view {
		display: none;
	}

	.scroll-table {
		height: auto;
	}

	.card-margin {
    margin: 2em 0 6em;
	}

	/*------------------------ UPCOMING RACE ------------------------*/
	/* ResultLastRace */
	.result-last-race-headline {
    font-size: 1.2em;
  }

  .result-last-race-tr {
    font-size: 0.9em;
  }

  .result-last-race-tbody {
    font-size: 0.8em;
  }

  .result-last-race-td { 
    padding: 1em;
  }

  .position-difference {
    font-size: 0.8em;
    padding-left: 0.4em;
  }

	.result-last-race-flag-img {
		height: 1em;
    width: 1.6em;
  }

	/* NextRace - View */
	.next-race-headline {
		font-size: 1.6em;
	}

	/* NextRaceTrackInfo */
	.next-race-track-info-th {
		font-size: 0.6em;
	}

	.next-race-track-info-td {
		font-size: 0.7em;
	}

	.next-race-track-info-circuit-img {
		height: 15em;
	}

	/* QualificationSession */
	.qualification-session-headline {
		font-size: 1.2em;
	}

	.qualifying-session-tr {
		font-size: 0.9em;
	}

	.qualifying-session-tbody {
		font-size: 0.8em;
	}

	.qualification-session-td {
		padding: 1em 0.8em;
	}

	/*------------------------ STANDINGS ------------------------*/
	/* DriverTable */
	.leader-driver-div {
    margin: 0 0 2em 0;
  }

	.leader-driver-img {
		height: 7em;
	}

	.leader-driver-info {
		border-top: 3px solid #fff;
		width: 9em;
	}

	.leader-driver-flag-img {
		height: 1em;
    width: 1.6em;
	}

  .leader-driver-points {
		font-size: 0.9em;
		-webkit-text-stroke-width: 0.8px;
    margin: 0 0 8px 0;
  }

  .leader-driver-name-team {
    padding: 0.2em;
    font-size: 0.8em;
    margin: 0 0 8px 0;
  }

	.leader-driver-name {
		word-spacing: 5px;
	}

	.driver-table-headline {
    font-size: 1.3em;
  }

  .driver-table-tr {
    font-size: 0.9em;
  }

  .driver-table-tbody {
    font-size: 0.8em;
  }

  .driver-table-td {
    padding: 1em;
  }

	.driver-table-flag-img {
		height: 1.2em;
    width: 1.8em;
	}
	
	/* ConstructorTable */
	.leader-constructor-div {
		margin: 0 0 2em 0;
	}

	.leader-constructor-img {
		height: 3em;
	}

	.leader-constructor-flag-img {
		height: 1.2em;
		width: 1.9em;
	}

	.leaders-constructor-info {
    border-top: 3px solid #fff;
		width: 8em;
    margin-left: 2em;
  }

	.leader-constructor-points {
		font-size: 0.9em;
		-webkit-text-stroke-width: 0.8px;
	}

	.leader-constructor-name-team {
		font-size: 0.8em;
	}

	.constructor-table-headline {
    font-size: 1.3em;
	}

	.constructor-table-tr {
		font-size: 0.9em;
	}

	.constructor-table-tbody {
		font-size: 0.8em;
	}

	/* .constructor-table-td  {
		padding: 1em;
	} */

	.constructor-table-flag-img {
		height: 3em;
    width: 2.5em;
	}
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

	.container { 
		max-width: 992px;
	}

  /*------------------------ NAVBARS ------------------------*/
	/* Navbar */
	.navbar-toggler {
    display: none;
  }

	.nav-link-sub {
    font-size: 0.9em;
  }

	.navbar-sub {
		justify-content: start;
	}

	/* Navbar Top */
  .nav-title-top {
    font-size: 2.1rem;
  }

  .nav-logo-top {
    height: 2.4em;
  }

	.nav-link-top {
    font-size: 1em;
  }

	.navbar-nav-top {
    width: revert;
  }

	.nav-collapse-top {
    text-align: revert;
  }

  /*------------------------ MAP ------------------------*/
  .leaflet-touch 
  .leaflet-control-layers, 
  .leaflet-touch .leaflet-bar {
    margin-top: 1em !important;
  }

	/*------------------------ UPCOMING RACE ------------------------*/
	/* ResultLastRace */
	.result-last-race-headline {
		font-size: 1.4em;
	}

	.result-last-race-tr {
		font-size: 0.95em;
	}

	.result-last-race-tbody {
		font-size: 0.9em;
	}

	.result-last-race-td {
		padding: 1em 1.5em;
	}

	.result-last-race-flag-img {
    height: 1.1em;
    width: 1.7em;
  }


	/* NextRace - View */
	.next-race-headline {
		font-size: 1.7em;
	}

	/* NextRaceTrackInfo */
	.next-race-track-info-th {
		font-size: 0.7em;
	}

	.next-race-track-info-td {
		font-size: 0.8em;
	}

	.next-race-track-info-circuit-img {
		height: 18em;
	}

	/* QualificationSession */
	.qualification-session-headline {
		font-size: 1.4em;
	}

	.qualifying-session-tr {
		font-size: 0.95em;
	}

	.qualifying-session-tbody {
		font-size: 0.9em;
	}

	.qualification-session-td {
		padding: 1em 1.5em;
	}

	.elimination-line {
		border-bottom: 3px solid #fff;
	}

	/*------------------------ STANDINGS ------------------------*/
	/* DriverTable */
	.leader-driver-img {
		height: 9em;
	}

	.leader-driver-info {
		border-top: 4px solid #fff;
		width: 10em;
		margin: 0 1em;
	}

	.leader-driver-flag-img {
		height: 1.2em;
		width: 2em;
	}

	.leader-driver-points {
		font-size: 1.1em;
		-webkit-text-stroke-width: 1px;
	}

	.leader-driver-name-team {
		font-size: 0.9em;
	}

  .driver-table-headline {
    font-size: 1.5em;
  }

  .driver-table-tr {
    font-size: 0.95em;
  }

  .driver-table-tbody {
    font-size: 0.9em;
  }

  .driver-table-td {
    padding: 1em 2em;
  }

	.driver-table-flag-img {
    height: 1.1em;
    width: 1.7em;
  }

	/* ConstructorTable */
	.leader-constructor-img {
		height: 4em;
	}

	.leader-constructor-flag-img {
		height: 1.4em;
		width: 2.1em;
	}

	.leaders-constructor-info {
    border-top: 4px solid #fff;
		width: 9em;
    margin-left: 2em;
  }

	.leader-constructor-points {
    font-size: 1.1em;
    -webkit-text-stroke-width: 1px;
	}

	.leader-constructor-name-team {
		font-size: 0.9em;
	}

	.constructor-table-headline {
    font-size: 1.5em;
	}

	.constructor-table-tr {
		font-size: 0.95em;
	}

	.constructor-table-tbody {
		font-size: 0.9em;
	}

	.constructor-table-tb {
		padding: 1em 1.5em;
	}

	/* .constructor-table-td  {
		padding: 1em 1.5em;
	} */

	.constructor-table-flag-img {
		height: 3.2em;
    width: 2.7em;
	}
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.container { 
		max-width: 1200px;
	}

	/*------------------------ NAVBARS ------------------------*/
  /* Navbar */
  .nav-link-sub {
    font-size: 1em;
  }
  
  /* Navbar Top */
  .nav-link-top {
    font-size: 1.1em;
  }

	/*------------------------ GENERAL ------------------------*/
	.card-body {
		padding: 1em;
	}

	/* .card-margin {
		margin: 2em 0 5em 0;
	} */

	/*------------------------ UPCOMING RACE ------------------------*/
	/* ResultLastRace */
	.result-last-race-headline {
    font-size: 1.6em;
  }

	.result-last-race-tr {
    font-size: 1em;
  }

  .result-last-race-tbody {
    font-size: 0.95em;
  }

  .result-last-race-td { 
    padding: 1em 2em;
  }

	.position-difference {
    font-size: 0.9em;
    padding-left: 0.5em;
  }

	.result-last-race-flag-img {
		height: 1.2em;
    width: 2em;
  }

	/* NextRace - View */
	.next-race-headline {
		font-size: 1.9em;
	}

	/* QualificationSession */
	.qualification-session-headline {
		font-size: 1.6em;
	}

	.qualifying-session-tr {
		font-size: 1em;
	}

	.qualifying-session-tbody {
		font-size: 0.95em;
	}

	.qualification-session-td {
		padding: 1em 1.55em;
	}

	/*------------------------ STANDINGS ------------------------*/
	/* DriverTable */
	.leader-driver-img {
		height: 10em;
	}

	.leader-driver-info {
		width: 11em;
		margin: 0 2em;
	}

	.leader-driver-flag-img {
		height: 1.4em;
		width: 2.2em;
	}

	.leader-driver-points {
		font-size: 1.2em;
		-webkit-text-stroke-width: 1.1px;
	}

	.leader-driver-name-team {
		font-size: 1em;
	}

  .driver-table-headline {
    font-size: 1.7em;
  }

  .driver-table-tr {
    font-size: 1em;
  }

  .driver-table-tbody {
    font-size: 0.95em;
  }

  .driver-table-td {
    padding: 1em 3em;
  }

	.driver-table-flag-img {
    height: 1.2em;
    width: 2em;
  }

	/* ConstructorTable */
	.leader-constructor-img {
		height: 4.5em;
	}
	
	.leader-constructor-flag-img {
    height: 1.6em;
    width: 2.3em;
  }

	.leaders-constructor-info {
		width: 10em;
    margin-left: 2em;
  }

	.leader-constructor-points {
    font-size: 1.2em;
    -webkit-text-stroke-width: 1.1px;
	}

	.leader-constructor-name-team {
		font-size: 1em;
	}

	.constructor-table-headline {
    font-size: 1.7em;
	}

	.constructor-table-tr {
		font-size: 1em;
	}

	.constructor-table-tbody {
		font-size: 0.95em;
	}

	/* .constructor-table-td {
		padding: 1em 2em;
	} */
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.container { 
		max-width: 1500px;
	}

  /*------------------------ NAVBARS ------------------------*/
  /* Navbar */
  .nav-title-top {
    font-size: 2.3rem;
  }

	/*------------------------ UPCOMING RACE ------------------------*/
	/* ResultLastRace */
	.result-last-race-headline {
		font-size: 1.7em;
	}
  .result-last-race-td { 
    padding: 1em 3em
  }

	.position-difference {
    font-size: 0.9em;
    padding-left: 0.6em;
  }

	/* NextRace - View */
	.next-race-headline {
		font-size: 2em;
	}

	/* NextRaceTrackInfo */	
	.next-race-track-info-th {
		font-size: 0.8em;
	}

	.next-race-track-info-td {
		font-size: 0.9em;
	}

	/* QualificationSession */
	.qualification-session-headline {
		font-size: 1.7em;
	}

	.qualification-session-td {
		padding: 1em 2.5em;
	}

	/*------------------------ STANDINGS ------------------------*/
	/* DriverTable */
	.leader-driver-img {
		height: 12em;
	}

	.leader-driver-info {
		width: 12em;
	}

	.leader-driver-info {
    margin: 0 3em;
	}

	.leader-driver-points {
		font-size: 1.3em;
		-webkit-text-stroke-width: 1.2px;
	}

	.driver-table-headline {
    font-size: 1.9em;
  }

  .driver-table-td {
    padding: 1em 3.5em;
  }

	/* ConstructorTable */
	.leader-constructor-img {
		height: 5em;
	}

	.leader-constructor-flag-img {
		height: 1.8em;
    width: 2.5em;
	}

	.leaders-constructor-info {
		width: 13em;
    margin-left: 2em;
  }

	.leader-constructor-points {
    font-size: 1.3em;
    -webkit-text-stroke-width: 1.2px;
	}

	.leader-constructor-name-team {
		font-size: 1.1em;
	}

	.constructor-table-headline {
    font-size: 1.9em;
	}

	/* .constructor-table-td {
		padding: 1em 3em;
	} */

	.constructor-table-flag-img {
		height: 3.4em;
    width: 2.9em;
	}
}

/* MEDIA END*/


/* Driver and Team Colors */
.mclaren {
  /* Real color
  color: #e0610e !important; 
  */
  color: #f77018 !important;
}

.red-bull {
  /* Real color
  color: #0600ef !important; 
  */

  /* Fake, alternative
	color: #2b26ff !important; */

	color: #3b38da !important;
}

.mercedes {
  /* Real color 
  color: #00d2be !important; 
  */
  color: #03e8d3 !important;
}

.alpha-romeo {
  /* Real color
  color: #900000 !important; 
  */
  color: #ad0505 !important;
}

.alpha-tauri {
  /* Real color
  color: #2b4562 !important; 
  */
  color: #5a84b3 !important;
}

.haas {
  color: #fff !important;
}

.alpine {
  color: #0090ff !important;
}

.ferrari {
  color: #dc0000 !important;
}

.williams {
  color: #005aff !important;
}

.aston-martin {
  /* Real color
  color: #006f62 !important; 
  */
  color: #00b19c !important;
}
