.practice-row {
	display: inline-block;
}

.last-race-row {
	display: inline-block;
}

.qualifying-row {
	display: inline-block;
}

.race-row {
	display: inline-block;
}

.sprint-qualifying-row {
	display: inline-block;
}

.driver-standings-row {
	display: inline-block;
}

.constructor-standings-row {
	display: inline-block;
}
