.footer {
	text-align: center;
	background-color: $main-background;
	border-top: 1px solid $navbar-background;
	bottom: 0;
	position: fixed;
	width: 100%;
	color: $white;

	@include breakpoint(x-small) {
		display: none;
	}
	@include breakpoint(medium) {
		display: revert;
	}
}

.footer-text {
	margin-top: 1.5em;

	@include breakpoint(x-small) {
		display: none;
	}
	@include breakpoint(medium) {
		display: revert;
	}
}
